.idea/

node_modules/

android/.gradle/

package-lock.json
yarn.lock

# Ignore build output directories
dist/
build/

# Logs
*.log

# Coverage reports
coverage/

# Environment variable files
*.env
.env.local

# macOS files
.DS_Store

# Project files for IntelliJ/Android Studio
*.iml
